<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
     window.onload = function() {
     var socket = io('http://127.0.0.1:5000');

     socket.on('connect', function() {
         socket.emit('conexao', {data: 'cliente 1 conectado!'});
     });

     document.querySelector("form").addEventListener("submit", function(event) {
        event.preventDefault();

        socket.emit('envia_form', {consultório: event.target[0].value, paciente: event.target[1].value, estagiário: event.target[2].value})
        event.target[0].value = "";
        event.target[1].value = "";
        event.target[2].value = "";

     })


     }
    </script>
    <form>
    <input type="text" id="consultorio" placeholder="Consultório"><br><br>
    <input type="text" id="paciente" placeholder="Paciente"><br><br>
    <input type="text" id="estagiario" placeholder="Estagiario"><br><br>
    <input type="submit" value="Enviar">
</form>
</body>
</html>